@import "tailwindcss";
@theme inline {
  --color-terra-pink: #e4a3a2; /* Terra Pink */
  --color-earth-green: #3e5b39;
  --color-pitch: #000000;
  --color-sand: #c6bdb5;
  --color-stone: #f4f1ed;
  --color-toiled-gold: #96703b;

  --font-serif: var(--font-eb-mono), "EB Garamond", Georgia, serif;
  --font-barlow: var(--font-barlow), "Barlow_Semi_Condensed", sans-serif;
  --font-barlowNormal: var(--font-barlowNormal), "Barlow", sans-serif;

  /* === Bold (700) === */
  /* --font-bold: var(--font-eb-mono);
  --font-bold--font-variation-settings: "wght" 700; */

  /* === Italic (400 italic) === */
  /* --font-italic: var(--font-eb-mono);
  --font-italic--font-variation-settings: */
  /* "slnt" -10, simulate slant if supported "wght" 400; */

  /* === Bold Italic === */
  /* --font-bold-italic: var(--font-eb-mono);
  --font-bold-italic--font-variation-settings: "wght" 700, "slnt" -10; */
}

html {
  font-size: 16px; /* Tailwind’s base rem size */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-stone);
}
.hero-section [clip-path],
.hero-section img {
  will-change: opacity, transform, clip-path;
}
.hero-media {
  opacity: 0;
  transform: scale(1.1);
  will-change: transform, opacity;
  transform-origin: center center;
}
/* Mask container for each line */
/* Mask container for each line */
.line-mask {
  display: block;
  overflow: hidden;
}

/* Each line behaves like a block for GSAP transform */
.split-line {
  display: block;
  transform-origin: top left;
  will-change: transform, opacity;
}
.overlay-fix {
  margin-top: -1px;
}
